* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium";
}
.navbar {
  justify-content: space-around;
}
.navbar img {
  width: 90px;
  height: 90px;
}

.navbar-nav {
  align-items: center;
}
.navbar .navbar-nav .nav-link {
  color: #383737;
  font-size: 20px;
}

.navbar .navbar-nav .nav-link:hover {
  color: #52e295;
}
.navbar-logo-centered .navbar-nav .nav-link {
  padding: 0.5em 1em;
}
.navbar .creators {
  color: #383737;
  display: inline-block;
  padding-right: 10px;
  padding-top: 6px;
  padding-left: 12px;
  padding-bottom: 5px;
  border-radius: 25px;
  font-size: 15px;
  background: #efeeee;
  text-decoration: none;
}
.navbar .creators:hover {
  color: #52e295; /* สีที่คุณต้องการเมื่อ hover */
}
.creators,
.nav__actions {
  display: flex;
  justify-content: end;
}
.nav__actions {
  display: flex;
  align-items: end;
  order: 12; /* เปลี่ยนลำดับการแสดงผลเพื่อวางที่ด้านซ้ายของ Navbar */
}
.nav__search,
.nav__login {
  font-size: 25px;
  color: #383737;
  cursor: pointer;
  margin-left: 12px; /* เพิ่มระยะห่างระหว่างองค์ประกอบ */
}
/* จอพับๆ */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* ซ่อนเริ่มต้น */
  z-index: 9999; /* กำหนดให้พอร์ตัวอยู่ด้านบน */
}
.login-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  z-index: 10000; /* กำหนดให้ป๊อปอัพอยู่ด้านบนสุด */
  display: none; /* ซ่อนเริ่มต้น */
  text-align: center;
}
.login-popup a {
  margin: 20px;
  font-size: 15px;
}
.close-icon {
  position: absolute;
  top: -15px;
  right: -8px;
  cursor: pointer;
  font-size: 30px;
  color: #5f5f5f;
  width: 30px;
  height: 30px;
  border-radius: 50%; /* กำหนดให้เป็นวงกลม */
  background-color: #ffffff; /* สีพื้นหลังของวงกลม */
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-popup form {
  padding: 0 10px;
  box-sizing: border-box;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid #d0cece;
  margin: 20px 0;
}
.txt_field input {
  font-size: 20px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #d0cece;
  transform: translateY(-50%);
  font-size: 12px;
  position: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  color: #52e295;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #696868;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
/* ปุ่มล็อคอิน */
input[type="button"] {
  width: 45%;
  height: 37px;
  border: 1px solid transparent;
  background: #595959;
  border-radius: 25px;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
}
.login-popup .login {
  width: 45%;
  height: 37px;
  border: 1px solid transparent;
  background: #14bc62;
  border-radius: 25px;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.pass {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #505050;
  font-size: 12px;
  cursor: pointer;
}
.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 15px 0;
  background-color: #d0cece;
}
.line::before {
  content: "OR Log in with";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #7b7b7b;
  padding: 0 15px;
  font-size: 12px;
}
.social {
  font-size: 30px;
  color: #7b7b7b;
  display: flex;
}
.social li {
  display: inline-block;
  margin-bottom: 4px;
}
.social a {
  background-color: #f5f2f2;
  color: #33353d;
  font-size: 20px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin:2px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social .facebook {
  background-color: #3b5998;
  color: #ffffff;
}
.social .twitter {
  background-color: #18a1e1;
  color: #ffffff;
}
.social .line-1 {
  background-color: #158f4e;
  color: #ffffff;
}
.social .google {
  background-color: #b22319;
  color: #ffffff;
}
.social .apple {
  background-color: #33353d;
  color: #ffffff;
}
/* จอเลื่อนๆ */
#subtopnav {
  display: flex; /* เริ่มใช้ Flexbox */
  align-items: center; /* จัดให้องค์ประกอบอยู่ในแนวแกนตั้ง */
  width: 100%;
  background-color: #ffffff;
  color: #f1f1f1;
  padding: 0;
  letter-spacing: 1px;
  font-family: "Source Sans Pro Topnav", sans-serif;
  font-size: 0;
  white-space: nowrap;
  overflow: auto;
  z-index: 2; /* Ensure it appears above other content */
  scrollbar-width: none;
  border-top: 2px solid #bababa; /* เพิ่มสีขอบด้านบน */
  margin-bottom: 15px;
}
#subtopnav a {
  display: inline-block;
  width: auto;
  margin: 0 !important;
  padding: 5px 15px 5px 15px !important;
  font-size: 15px !important;
  text-decoration: none;
  line-height: 1.5;
  color: #595959;
}
#subtopnav a:hover,
#subtopnav a:focus,
#subtopnav a:active {
  background-color: #04aa6d !important;
  color: #ffffff !important;
}
#subtopnav a.active {
  background-color: #04aa6d !important;
  color: #fff !important;
}
#btn_container_subtopnav {
  cursor: pointer;
  position: absolute;
  font-size: 0;
  border-left: 10px solid rgba(255, 255, 255, 0.5);
  margin-left: 83.4%;
}
#btn_container_subtopnav a {
  line-height: 1.3 !important;
  padding-top: 7px !important;
  padding-bottom: 6px !important;
  font-size: 15px;
  background-color: #ffffff;
}
#scroll_left_btn {
  cursor: pointer;
  display: none;
  position: absolute;
  font-size: 15px;
  border-right: 10px solid rgba(255, 255, 255, 0.5);
  background: #ffffff;
}
#scroll_left_btn span {
  background-color: #04aa6d;
  background: linear-gradient(to right, #04aa6d 70%, transparent 100%);
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}
#scroll_left_btn span:hover {
  background: linear-gradient(to right, #04aa6d 95%, transparent 100%);
}
#scroll_right_btn {
  cursor: pointer;
  font-size: 15px;
  background-color: #04aa6d;
  background: linear-gradient(to left, #04aa6d 70%, transparent 100%);
  padding-top: 5px;
  padding-bottom: 5px;
}
#scroll_right_btn:hover {
  background: linear-gradient(to left, #04aa6d 95%, transparent 100%);
}

/* Make subtopnav items active */
#subtopnav a.active {
  background-color: #04aa6d !important;
  color: #fff !important;
}

#subtopnav::-webkit-scrollbar {
  display: none !important;
}
/*จอการ์ตูน*/
.text-sec {
  color: #383737;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-all{
  color: #858383;
  padding-right: 10px;
  padding-top: 6px;
  padding-left: 12px;
  padding-bottom: 5px;
  border-radius: 25px;
  font-size: 15px;

  text-decoration: none;
  float: right;
}
.btn-all:hover {
  color: #14bc62; /* สีที่คุณต้องการเมื่อ hover */
}
.btn-all1 {
    color: #383737;
    padding-right: 10px;
    padding-top: 6px;
    padding-left: 12px;
    padding-bottom: 5px;
    border-radius: 25px;
    font-size: 15px;
    background: #efeeee;
    text-decoration: none;
    float: right;
  }
  .btn-all1:hover {
    color: #14bc62; /* สีที่คุณต้องการเมื่อ hover */
  }
.wrapper {
  display: flex;
  max-width: 1290px;
  position: relative;
  margin-left: 10px; /* เพิ่มบรรทัดนี้ */
  margin-bottom: 15px;
}

.wrapper{
  white-space: nowrap;
  scroll-behavior: smooth;
}
.item2 {
  display: flex;
  overflow-x: auto;
}

.image-container {
  position: relative;
  margin-left: 13px;
  
}


.image-text-1 {
  position: absolute;
  font-size: 15px;
  bottom: 47px; /* ปรับตำแหน่งตามความต้องการ */
  padding: 2px 10px; /* ปรับขนาดของข้อความ */
  font-weight: bold; /* ตั้งค่าตัวหนาของข้อความ */
  color: #ffffff;
}
.image-text-1-1 {
  position: absolute;
  font-size: 20px;
  bottom: 20px; /* ปรับตำแหน่งตามความต้องการ */
  padding: 5px 10px; /* ปรับขนาดของข้อความ */
  border-radius: 5px; /* ขอบโค้งของกล่องข้อความ */
  font-weight: bold; /* ตั้งค่าตัวหนาของข้อความ */
  color: #ffffff;
}
.image-text-1-2 {
  position: absolute;
  font-size: 15px;
  top: 5px; /* ปรับตำแหน่งตามความต้องการ */
  left: 135px; /* ปรับตำแหน่งตามความต้องการ */
  font-weight: bold; /* ตั้งค่าตัวหนาของข้อความ */
  color: #383737;
  padding: 3px 5px; /* ปรับขนาดของข้อความ */
  background: #fff;
  background: rgba(255, 255, 255, 0.84); /* เปลี่ยนสีพื้นหลังเป็นสีขาวโปร่ง */
  border-radius: 25px; /* ขอบโค้งของกล่องข้อความ */
}
.image-text-1-2::before {
  color: rgb(252, 177, 48); /* เปลี่ยนสีตัวอักษรในไอคอนเป็นสีขาว */
}
.image-text-1-3 {
  position: absolute;
  font-size: 15px;
  bottom: 5px; /* ปรับตำแหน่งตามความต้องการ */
  padding: 5px 10px; /* ปรับขนาดของข้อความ */
  border-radius: 5px; /* ขอบโค้งของกล่องข้อความ */
  font-weight: bold; /* ตั้งค่าตัวหนาของข้อความ */
  color: #ffffff;
}

.item2 .dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.item2 .dragging img {
  pointer-events: none;
}
.item2 img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  user-select: none;
  margin-left: 15px;
  border-radius: 10px;
}

.item2 img:first-child {
  margin-left: 0px;
}
.item2 .dragging img {
  pointer-events: none;
}
.ftco-section,
.item2,
.item4 {
  scrollbar-width: none;
}
.canvas {
  display: flex;
  max-width: 1280px;
  position: relative;
  margin: 5px; /* เพิ่มบรรทัดนี้ */
}
.item4 img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  user-select: none;
  border-radius: 10px;
}
.item4 {
  white-space: nowrap;
  scroll-behavior: smooth;
  display: flex;
  overflow-x: auto;
}
.item4 {
  display: flex;
  max-width: 1280px;
  position: relative;
  margin-top: 10px; /* เพิ่มบรรทัดนี้ */
  margin-bottom: 20px; /* เพิ่มบรรทัดนี้ */
}
.image-text-4-2 {
  position: absolute;
  font-size: 15px;
  top: 5px; /* ปรับตำแหน่งตามความต้องการ */
  left: 235px; /* ปรับตำแหน่งตามความต้องการ */
  font-weight: bold; /* ตั้งค่าตัวหนาของข้อความ */
  color: #383737;
  padding: 3px 5px; /* ปรับขนาดของข้อความ */
  background: #fff;
  background: rgba(255, 255, 255, 0.84); /* เปลี่ยนสีพื้นหลังเป็นสีขาวโปร่ง */
  border-radius: 25px; /* ขอบโค้งของกล่องข้อความ */
}
.image-text-4-2::before {
  color: rgb(252, 177, 48); /* เปลี่ยนสีตัวอักษรในไอคอนเป็นสีขาว */
}

@media screen and (max-width: 900px) {
  .item2 img {
    width: 200px;
  }
}
/*หน้าที่*/

.pagination {
  list-style: none;
  display: flex;
  justify-content: center; /* จัดให้อยู่ตรงกลางตามแนวนอน */
  padding: 0;
  margin-top: 10px;
  li {
    display: inline;
    text-align: center;
  }
  a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #383737;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
    &.active {
      cursor: default;
    }
    &:active {
      outline: none;
    }
  }
}

.modal-3 {
  a {
    display: flex;
    justify-content: center; /* จัดให้อยู่ตรงกลางตามแนวนอน */

    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
    &:hover {
      color: #ffffff;
      background-color: #37b247;
    }
    &.active,
    &:active {
      color: #ffffff;
      background-color: #37b247;
    }
  }
}
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  select {
    margin-bottom: 1em;
    padding: .25em;
    border: 0;
   
    font-weight: bold;
    letter-spacing: .15em;
    border-radius: 0;
    &:focus, &:active {
      outline: 0;
      border-bottom-color: none;
    }
  }
/*footer*/
.site-footer {
  background-color: #f5f2f2;
  padding: 10px;
  font-size: 15px;
  line-height: 24px;
  color: #33353d;
}

.site-footer a {
  color: #33353d;
  text-decoration: none;
  font-size: 19px;
  align-items: center;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #33353d;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #14bc62;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}

.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class="col-4"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons,
.social-icons1 {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons1 li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 20px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #f5f2f2;
  color: #33353d;
  font-size: 20px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons1 a {
  color: #33353d;
  font-size: 20px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons1 a:active,
.social-icons1 a:focus,
.social-icons1 a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #18a1e1;
}
.social-icons a.linkedin:hover {
  background-color: #b22319;
}
.social-icons a.dribbble:hover {
  background-color: #158f4e;
}
.social-icons1 a.facebook:hover {
  background-color: #18a1e1;
}
.social-icons1 a.twitter:hover {
  background-color: #007bb6;
}
.social-icons1 a.linkedin:hover {
  background-color: #b22319;
}
.social-icons1 a.dribbble:hover {
  background-color: #158f4e;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.name-item,
.name-item1 {
  font-size: 19px;
  display: flex; /* หรือ display: grid; */
  /*justify-content: center;  /*หรือ align-items: center; */
}
.bw-image {
  padding-top: 10px;
  width: 385px;
}

@media screen and (max-width: 900px) {
  .bw-image {
    width: calc(500px / 2);
  }
}
@media screen and (max-width: 900px) {
  .img-footer {
    width: calc(500px / 2);
  }
}
